<div class="contact-form">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">We'd love to hear from you</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="contact-block">
            <form
              [formGroup]="contactForm"
              id="contactForm"
              (ngSubmit)="submitForm()"
            >
              <div class="row" style="justify-content: center;">
                <div class="col-md-8" >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control mb-0"
                      id="name"
                      name="name"
                      formControlName="fullName"
                      [class.is-invalid]="isFieldInvalid('fullName')"
                      placeholder="Your Name"
                      required
                      data-error="Please enter your name"
                    />
                    <div
                      class="help-block with-errors pl-4 mt"
                      style="color: red"
                      *ngIf="fullName?.invalid && fullName?.touched"
                    >
                      <small *ngIf="fullName?.errors?.['required']">
                        * full name required !
                      </small>
                      <small *ngIf="fullName?.errors?.['minlength']">
                        * full name must contain at least 2 character !
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input
                      type="email"
                      placeholder="Your Email"
                      id="email"
                      class="form-control mb-0"
                      [class.is-invalid]="isFieldInvalid('email')"
                      formControlName="email"
                      name="name"
                      required
                      data-error="Please enter your email"
                    />
                    <div
                      class="help-block with-errors pl-4 mt"
                      style="color: red"
                      *ngIf="email?.invalid && email?.touched"
                    >
                      <small *ngIf="email?.errors?.['required']">
                        * email required!
                      </small>
                      <small *ngIf="email?.errors?.['email']">
                        * invalid email !
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Subject"
                      id="msg_subject"
                      class="form-control mb-0"
                      [class.is-invalid]="isFieldInvalid('subject')"
                      formControlName="subject"
                      required
                      data-error="Please enter your subject"
                    />
                    <div
                      class="help-block with-errors pl-4 mt"
                      style="color: red"
                      *ngIf="subject?.invalid && subject?.touched"
                    >
                      <small *ngIf="subject?.errors?.['required']">
                        * subject required!
                      </small>
                      <small *ngIf="subject?.errors?.['minlength']">
                        * subject must contain at least 2 character !
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <textarea
                      class="form-control mb-0"
                      id="message"
                      placeholder="Your Message"
                      rows="7"
                      data-error="Write your message"
                      [class.is-invalid]="isFieldInvalid('message')"
                      formControlName="message"
                      required
                    ></textarea>
                    <div class="help-block with-errors">
                      <div
                        class="help-block with-errors pl-4 mt"
                        style="color: red"
                        *ngIf="message?.invalid && message?.touched"
                      >
                        <small *ngIf="message?.errors?.['required']">
                          * message required!
                        </small>
                        <small *ngIf="message?.errors?.['minlength']">
                          * subject must contain at least 10 character !
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="submit-button d-flex justify-content-center" >
                    <button
                      class="btn  btn-primary text-white"
                      id="submit"
                      type="submit"
                      [disabled]="contactForm.invalid"
                    >
                      Send Message
                    </button>
                    <div id="msgSubmit" class="h3 hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  